form {
    border:1px solid black;
}

body {
    background-color: grey;
}
#img1 {
    border: 1px solid black;
}
.blinking-dots {
    width:10px;
    height:10px;
    background-color: white;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}
.blinking-dots::before,
.blinking-dots::after {
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background-color: white;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

.blinking-dots::before {
    transform:translateX(-10px)
}
.blinking-dots::after {
    transform:translateX(10px)
}

